@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root { /* Root é para criar variáveis que da para utilizar no código inteiro */
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #070b0f;
    --cor-projeto: #030507;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* { /* O * faz com que você selecione todos os elementos da página, para uma configuração ampla */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    flex: 1;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.container__header {
    display: flex;
    justify-content: space-between; /* Alinha os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
}
.link__logo {
    text-decoration: none;
    color: var(--cor-secundaria);
}
.logo:hover{
    transform: scale(1.15);
}
.logo {
    padding: 1em 2em;
    transition: .5s;
}
.titulo__logo, .texto__logo {
    text-align: center;
    font-family: var(--fonte-primaria);
}
.menus, .lista-menus, .mobile-link-contato {
    background-color: var(--cor-hover);
    overflow: hidden;
    border-radius: 10px;  /* Bordas arredondadas para o menu */
    margin: 1.5em 0.5em 1.5em 1.5em;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Sombra para efeito mais estiloso */
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    display: flex;  /* Usando Flexbox para alinhar os itens em linha */
}
nav a, div .menu-item {
    display: flex;
    align-items: center;  /* Alinhando os itens verticalmente no centro */
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.contato {
    margin: auto 2em;
}
.link__contato:hover, .mobile-hover-contato:hover, .menu-item:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-projeto);
}
nav a:hover {
    background-color: var(--cor-projeto);
    color: var(--cor-terciaria);  /* Mudança de cor do texto ao passar o mouse */
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
/* MENUS ACABA AQUI */

.titulo-destaque {
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem; /*REM é utilizada para a melhor responsividade. O calculo é pegar a quantidade de pixel e dividir por 16. Aqui era 36 pixels.*/
}
.apresentacao {
    padding: 1% 15% 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__para1 {
    font-size: 1.5rem;/*REM é utilizada para a melhor responsividade. O calculo é pegar a quantidade de pixel e dividir por 16. Aqui era 24 pixels.*/
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    line-height: 36px;
    width: 90%;
    text-align: justify;
}
.redes {
    font-size: 1.5rem;/*REM é utilizada para a melhor responsividade. O calculo é pegar a quantidade de pixel e dividir por 16. Aqui era 24 pixels.*/
    font-family: var(--fonte-primaria);
    font-weight: 400;
    line-height: 36px;
    width: 100%;
    height: 32px;
    text-align: center;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 32px;
}
.apresentacao__links__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;/*REM é utilizada para a melhor responsividade. O calculo é pegar a quantidade de pixel e dividir por 16. Aqui era 24 pixels.*/
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-terciaria);
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    padding: 16px ;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    transition: .5s;
    }
.apresentacao__links__link:hover {
    transform: scale(1.05);
}
.imagem__caio {
    width: 40%;
}

/* A PÁGINA SOBRE ACABA AQUI  */

.apresentacao2 {
    padding: 2% 15% 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__para2 {
    font-size: 1.5rem;/*REM é utilizada para a melhor responsividade. O calculo é pegar a quantidade de pixel e dividir por 16. Aqui era 24 pixels.*/
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    line-height: 36px;
    width: 100%;
    height: 0 auto;
    text-align: justify;
}
.conteudo__para2 {
    color: var(--cor-terciaria)
}

/* A PÁGINA SOBRE  MIM ACABA AQUI */

.projetos__sessao {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0 1em 2em 1em;
}
.projeto__bloco {
    background-color: var(--cor-projeto);
    color: #00ffff;
    padding: 15px 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
    width: 100%;
    max-width: 330px; /* Largura máxima dos blocos */
    height: 390px; /* Altura dos blocos */
    flex: 1 1 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Garante que a imagem não saia do bloco */
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: .5s;
  }
  .projeto__bloco a {
    display: block;
    color: inherit;
    height: 100%;
    width: 100%;
  }
  .projeto__bloco:hover {
    transform: scale(1.05);
    background-color: var(--cor-hover)
  }
.projeto__nome {
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
}
.projeto__descricao {
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 1em;
    text-align: center;
    margin-bottom: 6px;
    text-decoration: none;
    flex-grow: 1; /* Adiciona crescimento flexível para empurrar a imagem para baixo */
}
.imagem__projeto1 {
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Ajusta a imagem para caber no bloco sem ser cortada */
    align-self: center; /* Centraliza a imagem horizontalmente */
    margin-top: auto; /* Garante que a imagem fique na parte inferior do bloco */
    border-radius: 3%;
}

/* A PÁGINA PROJETOS ACABA AQUI */

.rodape {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    margin-top: auto;
    width: 100%;
    height: 30px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;/*REM é utilizada para a melhor responsividade. O calculo é pegar a quantidade de pixel e dividir por 16. Aqui era 24 pixels.*/
    font-weight: 600;
}

@media (max-width: 1350px) {
    .titulo__logo, .texto__logo {
        font-size: 0.75em;;
    }
    nav a, div .menu-item { 
        transition: none;
        justify-content: center;
        box-shadow: 0px -5px 14px rgba(0, 0, 0, 0.2); 
    }
    .menus, .mobile-button-contato {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background: transparent;
        margin: 2em;
        border: 0;
        box-shadow: none;
    } 
    .mobile-menu-icon button img {
        transition: filter 0.3s ease;  /* Transição suave da cor */
    }
    .mobile-menu-icon button.clique img {
        filter: brightness(0) saturate(100%) invert(71%) sepia(41%) saturate(393%) hue-rotate(145deg) brightness(103%) contrast(98%);
    }
    
    .lista-menus, .mobile-link-contato {
        display: flex;
        width: 92%;
        flex-direction: column;
        text-align: center;
        margin: 1em;
        font-size: 1em;
        align-content: center;
    }
    a.menu-item.mobile-hover-contato {
        background-color: var(--cor-terciaria);
        color: black;
    }
    a.menu-item.mobile-hover-contato:hover {
        background-color: var(--cor-projeto);
        color: white;
    }
    .mobile-menu, .nav-item {
        display: none; 
        color: var(--cor-secundaria);
    }
    .mobile-menu, .mobile-button-contato {
        display: none;
    }
    .mobile-menu.open, .nav-item, .mobile-button-contato {
        display: block; /* Certificando que os itens aparecem */
    }
    .apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.8rem; /*REM é utilizada para a melhor responsividade. O calculo é pegar a quantidade de pixel e dividir por 16. Aqui era 36 pixels.*/
    text-align: center;
}
    .apresentacao {
        flex-direction: column-reverse;
        padding: 1% 7% 10% 7%;
    }
    .apresentacao2 {
        flex-direction: column-reverse;
        padding: 1% 7% 10% 7%;
    }
    .imagem__caio {
        width: 75%;
    }
    .apresentacao__conteudo__para1 {
        width: 100%;
        font-size: 1.10em;
    }
    .apresentacao__conteudo__para2 {
        width: 100%;
        font-size: 1.10em;
        text-align: justify;
    }
    .apresentacao__links {
        width: 100%;
        padding: 80px 0 0 0;
    }
    .apresentacao__links__link {
        width: 70%;
    }
    .apresentacao__conteudo {
        flex-grow: 1;
        width: 100%;
    }
    .apresentacao__conteudo2 {
        flex-grow: 1;
        width: 100%;
    }
    .imagem__caio {
        width: 80%;
    }
    .projetos__sessao {
        gap: 0px;
    }
    .rodape {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .apresentacao {
        padding: 2% 5% 15% 5%;
    }
    .apresentacao2 {
        padding: 2% 5% 15% 5%;
    }
    .apresentacao__conteudo__para2 {
        text-align: left;
    }
    .imagem__caio {
        width: 80%;
    }
    .rodape {
        font-size: 1rem;
    }
}
